---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// 커스텀 파일 import //////////////////////////////////
@import "custom/syntax_highlighting_solarized_light";
/////////////////////////////////////////////////////

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials